/* Import Google Font */

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Declaring Global Functions and Variables */

:root {
  --GradientColor: linear-gradient(to right, #4a90e2, #562494);
  --MainColor: #4a90e2;
  --TextColor: #1a2737;
  --SoftColor: #9ca8b6;
  --BGColor: #f3f7fc;
  --divColor: #ffffff;
}

[data-theme='dark'] {
  --TextColor: #ffffff;
  --BGColor: #1a202c;
  --divColor: #0d131b;
}

@mixin TextController(
  $FontSize,
  $FontWeight,
  $LetterSpacing,
  $FontColor,
  $FontTransform
) {
  font-size: $FontSize;
  font-weight: $FontWeight;
  letter-spacing: $LetterSpacing;
  color: $FontColor;
  text-transform: $FontTransform;
}

// Global Styling Starts Here

body {
  background-color: var(--BGColor);
  font-family: Mulish;
  font-size: 1rem;
}

.App{
  width:100%;
}

h1 {
  @include TextController(2rem, 400, 0, var(--TextColor), none);

  span{
    font-weight:900;
  }
}

h2 {
  @include TextController(1.5rem, 400, 0, var(--TextColor), none);
}

span{
  font-weight:900;
}

h3 {
  @include TextController(1.3rem, 400, 0, var(--TextColor), none);
}

h4 {
  @include TextController(0.76rem, 900, 3px, var(--SoftColor), uppercase);
}

//Custom Styling Starts Here

.LoginPanel {
  background-color: var(--divColor);
  border-radius: 40px;
  margin-top:5%;
  width:100%;
  box-shadow: 4px 6px 5px 0px rgba(71, 125, 179, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(71, 125, 179, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(71, 125, 179, 0.12);

  img{
    width:100%;
  }
}

[data-theme='dark'] .LoginPanel {
    box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
}

.logoArea{

    display:flex;
    align-items: center;
    justify-content:space-between;
}

.logo{
    width:260px;
    max-width:260px;
    flex:0 0 auto;
}

.Switcher{
    width:100px;
    max-width:100px;
    flex:1;
}

.Switcher:hover{
    scale:1.13;
    transition:0.6s ease-in-out;
}


.InputZone{
    background-color:transparent;
    border:2px solid var(--SoftColor);
    border-radius:40px;
    padding:10px 40px 10px 40px;
    margin-top:16px;

    input{
        background-color: transparent; /* Remove background */
        color: inherit;                /* Inherit text color from parent */
        border: none;                  /* Remove default border */
        outline: none;                 /* Remove default focus outline */
        padding: 0;                    /* Remove default padding */
        margin: 0;                     /* Remove default margin */
        width: 100%;    
        @include TextController(1rem,400 ,0 ,var(--TextColor) ,none );               /* Optional: Make the input full width */
    }

    input[type=file]{
        display:none;
        width:100%;
    }

    label{
      span{
        @include TextController(1rem,400 ,0 ,var(--SoftColor) ,none );
        display:block;
      }
    }

    textarea{
      width:100%;
      background-color: transparent;
      outline:none;
    }

    select{
      width:100%;
      background-color: transparent;
      color:var(--TextColor);

      option{
        background-color: var(--SoftColor);
        color:var(--TextColor);
      }
    }

}

.InputZoneCustom{
  background-color:transparent;
  border:2px solid var(--SoftColor);
  border-radius:20px;
  padding:10px 40px 10px 40px;
  margin-top:16px;

  textarea{
    width:100%;
    background-color: transparent;
    outline:none;
    color:var(--TextColor);
  }

}

.InputZoneCustom:focus-within{
  border:3px solid var(--MainColor);
}

.InputZone:focus-within{
 
    border:3px solid var(--MainColor);
}

.CheckArea{
    display:flex;
    align-items: center;
    gap:10px;
    margin-top:50px;
    justify-content: flex-start;
    
    

    h4{
        margin-left:auto;
    }

    a:hover{
        color:var(--MainColor);
        transition: 0.6s ease-in-out;
    }


}

label{
    @include TextController(0.76rem,900 ,3px ,var(--SoftColor) ,uppercase );
}


/* Hide the default checkbox */
.custom-checkbox input {
    display: none; /* Hide the default checkbox */
}

/* Create a custom checkbox appearance */
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer; /* Change cursor on hover */
}

.custom-checkbox .checkmark {
    width: 26px;              /* Set width */
    height: 26px;             /* Set height */
    border: 3px solid var(--SoftColor); /* Border color */
    border-radius: 4px;       /* Rounded corners */
    margin-right: 10px;       /* Spacing between checkbox and label text */
    position: relative;        /* Relative positioning for pseudo-element */
    transition: background-color 0.2s; /* Smooth transition */
}

/* Change the checkmark's appearance when checked */
.custom-checkbox input:checked + .checkmark {
    background-color: var(--SoftColor); /* Background color when checked */
}

/* Create a checkmark using the ::after pseudo-element */
.custom-checkbox input:checked + .checkmark::after {
    content: '';               /* Required for pseudo-element */
    position: absolute;        /* Position it absolutely */
    top: 2px;                 /* Position it */
    left: 6px;                /* Position it */
    width: 5px;               /* Checkmark width */
    height: 10px;             /* Checkmark height */
    border: solid white;       /* Checkmark color */
    border-width: 0 2px 2px 0; /* Checkmark style */
    transform: rotate(45deg); /* Rotate to form a checkmark */
}


.ButtonsArea{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:20px;
}


.TheButton{
    background-color: linear-gradient(to right, #4a90e2, #562494);
    padding:10px 40px 10px 40px;
}


.ButtonsArea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top:60px;
  }
  
  .TheButton {
    background: rgb(74, 144, 226);
    background: -moz-linear-gradient(
      83deg,
      rgba(74, 144, 226, 1) 0%,
      rgba(86, 36, 148, 1) 100%
    );
    background: -webkit-linear-gradient(
      83deg,
      rgba(74, 144, 226, 1) 0%,
      rgba(86, 36, 148, 1) 100%
    );
    background: linear-gradient(
      83deg,
      rgba(74, 144, 226, 1) 0%,
      rgba(86, 36, 148, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a90e2",endColorstr="#562494",GradientType=1);
  

    
    box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
    -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
    -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
  
    padding: 20px 60px 20px 60px;
    border-radius:40px;

    @include TextController(0.76rem,900 ,3px ,#ffffff ,uppercase );
  
  } 

  .TheButton:hover{
    scale:1.13;
    transition: 0.6s ease-in-out;
  }


  .SideButton{
    background-color: transparent;
    border:3px solid var(--MainColor);
    padding: 10px 40px 10px 40px;  
    border-radius:40px;
    @include TextController(0.76rem,900 ,3px ,var(--MainColor) ,uppercase );
  }

  .SideButton:hover{
    background-color: var(--MainColor);
    color:#ffffff;
    transition:0.6s ease-in-out;
  }

.PasswordToggle:hover{
    scale:1.13;
    transition: 0.6s ease-in-out;
}

/* Error Message */
.error-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FF3434;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }
  
  /* Success Message */
  .success-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4A90E2; /* Your requested blue background */
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }
  


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    button{
        background: rgb(74, 144, 226);
        background: -moz-linear-gradient(
          83deg,
          rgba(74, 144, 226, 1) 0%,
          rgba(86, 36, 148, 1) 100%
        );
        background: -webkit-linear-gradient(
          83deg,
          rgba(74, 144, 226, 1) 0%,
          rgba(86, 36, 148, 1) 100%
        );
        background: linear-gradient(
          83deg,
          rgba(74, 144, 226, 1) 0%,
          rgba(86, 36, 148, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a90e2",endColorstr="#562494",GradientType=1);
      
    
        
        box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
        -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
        -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
      
        padding: 20px;
        border-radius:40px;
        margin-top:20px;
    
        @include TextController(0.76rem,900 ,3px ,#ffffff ,uppercase );
    }
}

.modal-content {
    background-color: var(--divColor);
    padding: 40px;
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    position: relative;
    box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
        -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
        -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    width:60px;
}


.onboardingside{

  background: rgb(74, 144, 226);
  background: -moz-linear-gradient(
    83deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(86, 36, 148, 1) 100%
  );
  background: -webkit-linear-gradient(
    83deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(86, 36, 148, 1) 100%
  );
  background: linear-gradient(
    83deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(86, 36, 148, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a90e2",endColorstr="#562494",GradientType=1);
  padding:90px 90px 90px 90px;
  border-radius:40px;
  display:flex;
  align-items: center;
  justify-content: space-around;

  img{
    width:90%;
    height:auto;
  }

  height:100%;

}


.onboarding{
  padding:40px;
}


.onboardinghead{
  margin-top:40px;
  position:relative;

  h2{
    @include TextController(3rem,900 ,0 ,var(--BGColor) ,none );
    position:absolute;
    top:0;
    right:0;

  }
}

.onboardbody{
  background-color: var(--BGColor);
  padding:20px;
  border-radius:20px;
  margin-top:20px;
  margin-bottom:40px;

  p{
     color:var(--TextColor);
  }

}


.ImagePreview{
  margin-top:20px;
  margin-bottom:40px;
}

.VSpacer{
  margin-top:40px;
  margin-bottom:40px;
}


.tag {
  background-color: var(--SoftColor);
  margin-right: 20px;
  padding: 10px 40px 10px 20px; // Adjusted padding
  border-radius: 40px;
  @include TextController(1rem, 900, 0, var(--TextColor), none);
  position: relative;
  margin-top: 20px;
  line-height: 1.5; // Adjusted line height to provide enough space between lines
  display: inline-block; // Ensure the tag behaves like a single unit
  vertical-align: top; // Align tags correctly in a row
  white-space: nowrap; // Prevent breaking into two lines

  img {
    width: 30px; // Adjusted width for better fit
    height: auto;
    position: absolute;
    top: 50%; // Align vertically centered
    right: 10px; // Adjusted position
    transform: translateY(-50%);
  }

  img:hover {
    scale: 1.13;
    transition: 0.6s ease-in-out;
  }
}

.TagsZone {
  display: flex; // Allows tags to be flexibly arranged
  flex-wrap: wrap; // Allows tags to wrap if they overflow the container
  gap: 10px; // Adds some spacing between each tag
}


.Sidebar{
  background-color:var(--divColor);
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
        -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
        -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
  padding:20px;
  border-radius:20px;
  position:sticky;
  min-height:90vh;
}

.SidebarLogo{

  display:flex;
  align-items:center;
  justify-content: space-around;

  img{
    width:70%;
    margin-top:30px;
  }

  
}

.SidebarContent{
  margin-top:60px;

}

.SidebarButton{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--BGColor);

  padding:10px 20px 10px 20px;
  border-radius:40px;
  @include TextController(0.83rem,900 ,3px ,var(--SoftColor) ,uppercase );
  margin-top:20px;
  
  img{
    width:30px;
    height:auto;
    margin-right:15px;
  }
}

.SidebarButton:hover{
  scale:1.13;
  transition:0.6s ease-in-out;
}


.SidebarButton.Active{

box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
-webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
-moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);

color:#ffffff;
background: rgb(74, 144, 226);
background: -moz-linear-gradient(
  83deg,
  rgba(74, 144, 226, 1) 0%,
  rgba(86, 36, 148, 1) 100%
);
background: -webkit-linear-gradient(
  83deg,
  rgba(74, 144, 226, 1) 0%,
  rgba(86, 36, 148, 1) 100%
);
background: linear-gradient(
  83deg,
  rgba(74, 144, 226, 1) 0%,
  rgba(86, 36, 148, 1) 100%
);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a90e2",endColorstr="#562494",GradientType=1);

}


.logout{

  position:absolute;
  bottom:0;
  margin-bottom:30px;
  width:90%;

}


.Header{
  background-color: var(--divColor);
  padding:10px 30px 10px 30px;
  border-radius:20px;
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
-webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
-moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);

}

.headerbutton{
  img{
    width:36px;
    height:auto;
  }
}




.headerleft{
  display:flex;
  align-items: center;
  justify-content: flex-end;

  img{
    width:90px;
    height:auto;
  }

  img:hover{
    scale:1.13;
    transition:0.6s ease-in-out;
  }
}




.SearchBar{
  background-color: var(--divColor);
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
  padding:20px;
  border-radius:20px;
  margin-top:20px;


  input{
    background-color: transparent;
    border:2px solid var(--SoftColor);
    width:70%;
    border-radius:40px;
    padding:10px;
    @include TextController(1rem,400 ,0 ,var(--TextColor) ,none );
    outline:none;
  }

  input::placeholder{
      @include TextController(1rem,400 ,0 ,var(--SoftColor) ,none );
  }

  input:focus{
    border:2px solid var(--MainColor);
  }

  input[type="submit"]{
    width:20%;
    margin-left:10px;
    background: rgb(74, 144, 226);
background: -moz-linear-gradient(
  83deg,
  rgba(74, 144, 226, 1) 0%,
  rgba(86, 36, 148, 1) 100%
);
background: -webkit-linear-gradient(
  83deg,
  rgba(74, 144, 226, 1) 0%,
  rgba(86, 36, 148, 1) 100%
);
background: linear-gradient(
  83deg,
  rgba(74, 144, 226, 1) 0%,
  rgba(86, 36, 148, 1) 100%
);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a90e2",endColorstr="#562494",GradientType=1);
border:none;

@include TextController(0.75rem,900 ,3px ,#ffffff ,uppercase );
cursor: pointer;
    
  }

  input[type="submit"]:hover{
    scale:1.13;
    transition:0.6s ease-in-out;
  }

}


.Feed{
  background-color:var(--divColor);
  padding:20px;
  margin-top:20px;
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
  border-radius:20px;
}

.FeedHead{
  display:flex;
  align-items: center;
  justify-content: space-between;
}


.FeedUnit{
  background-color: var(--BGColor);
  padding:20px;
  border-radius:20px;
  margin-top:20px;
  position:relative;

  img{
    position:absolute;
    top:0;
    right:0;
    width:90px;
    height:auto;
    margin-right:20px;
  }
}

.FeedBottom{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top:20px;
}

.Priority{
  border-radius:40px;
  padding:10px 30px 10px 30px;
  @include TextController(0.83rem,900 ,0 ,#ffffff , uppercase);
  width:auto;
}

.FeedTags{
  @include TextController(1rem,700 ,0 ,var(--SoftColor) ,none );
}

.TagToggle {
  border: none;
  background: rgb(74, 144, 226);
  background: -moz-linear-gradient(
    83deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(86, 36, 148, 1) 100%
  );
  background: -webkit-linear-gradient(
    83deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(86, 36, 148, 1) 100%
  );
  background: linear-gradient(
    83deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(86, 36, 148, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a90e2",endColorstr="#562494",GradientType=1);
  cursor: pointer;
  margin-left: 8px;
  padding:5px 10px 5px 10px;
  border-radius:40px;
  @include TextController(0.76rem,900 ,0 ,#ffffff ,uppercase );

}
.AllTagsPanel {
  margin-top: 8px;
  padding: 8px;
  background-color:#ffffff;
  border-radius: 20px;
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
}


.HomeStats{
  background-color:var(--divColor);
  padding:20px;
  margin-top:20px;
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
  border-radius:20px;
}

.HomeStatBlock{
  background-color: var(--BGColor);
  padding:10px;
  margin-top:10px;
  border-radius:20px;
  display:flex;
  align-items: center;
  justify-content: flex-start;

  h2{
    @include TextController(1.23rem,400 ,0 ,var(--TextColor) ,none );


  }


  span{
    color:var(--MainColor);
    font-size:2rem;
    font-weight:900;
    margin-left:auto;
    margin-right:20px;
  }

  img{
    width:40px;
    height:auto;
    margin-right:20px;
  }

}

.DonutChart{
  text-align: center;

  h3{
    @include TextController(1.4rem,400 ,0 ,var(--TextColor) ,none );
    span{
      color:var(--MainColor);
      font-weight:900;
    }
  }
}


.ToggleArea{
  background-color:var(--divColor);
  padding:20px;
  margin-top:20px;
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
  border-radius:20px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  
  h2{
    @include TextController(0.76rem,900 ,3px , var(--TextColor) ,uppercase );
  }

  img{
    width:60px;
    height:auto;
  }
}

.FilterDiv{
  background-color:var(--divColor);
  padding:20px;
  margin-top:20px;
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
  border-radius:20px;
  
  img{
    width:60px;
    height:auto;
   
  }

  img:hover{
    scale:1.063;
    transition:0.6s ease-in-out;
  }

  h4{
    span{
      font-size:2rem;
      color:var(--MainColor);
    }
  }

}


.TaskBlock{
  background-color:var(--divColor);
  padding:20px;
  margin-top:20px;
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
  border-radius:20px;
}

.TaskHead{
  margin-top:-6px;
  img{
    width:60px;
    height:auto;
  }
}

.TaskBottom{
  margin-top:30px;
}



.BlankPage{
  background-color: var(--BGColor);
  padding:20px;
  border-radius:20px;
  text-align: center;
  margin-top:20px;
  
}


.BlankImage{
  display:flex;
  justify-content: space-around;
  img{
    width:50%;
    margin-top:40px;
    margin-bottom:40px;
  }
}

.Detail{
  background-color:var(--divColor);
  padding:20px;
  margin-top:20px;
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
  border-radius:20px;
}

.DetailHead{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:20px;

  img{
    width:70px;
    height:auto;
  }

}


.DetailMiddle{
  background-color: var(--BGColor);
  padding:10px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top:20px;
  
  img{
    width:40px;
    height:auto;
    margin-right:20px;
  }

}

.DetailText{
  background-color: var(--BGColor);
  padding:10px;
  border-radius: 20px;
  display: flex;
  margin-top:20px;
  @include TextController(1rem,400 ,0 ,var(--TextColor) ,none );
}

.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50; /* You can change this based on progress */
  transition: width 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}


.DetailButton{
  background-color: var(--BGColor);
  padding:20px 10px 20px 20px;;
  border-radius:40px;
  width:100%;
  margin-top:20px;
  @include TextController(1rem,900 ,3px ,var(--SoftColor) ,uppercase );
  display:flex;
  align-items: center;
  justify-content: flex-start;

  img{
    width:30px;
    height:auto;
    margin-right:20px;
  }
}

.DetailButton:hover{
  scale:1.063;
  transition:0.6s ease-in-out;
}

.DetailActiveButton{
 
  background: rgb(74, 144, 226);
  background: -moz-linear-gradient(
    83deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(86, 36, 148, 1) 100%
  );
  background: -webkit-linear-gradient(
    83deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(86, 36, 148, 1) 100%
  );
  background: linear-gradient(
    83deg,
    rgba(74, 144, 226, 1) 0%,
    rgba(86, 36, 148, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a90e2",endColorstr="#562494",GradientType=1);

  padding:20px 10px 20px 10px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  width:100%;
  border-radius:40px;
  margin-top:20px;

  @include TextController(0.76rem,900 ,3px ,#ffffff ,uppercase );

  img{
    width:30px;
    height:auto;
    margin-right:30px;
  }

}



.DetailActiveButton:hover{
  scale:1.063;
  transition:0.6s ease-in-out;
}








.Hamburger{

  img{
    width:90px;
    height:auto;
    margin-top:20px;
  }

  img:hover{
    scale:1.13;
    transition:0.6s ease-in-out;
  }

}





.MobileSidebar {
  position: fixed; /* Fix the sidebar to the side */
  left: 0; /* Align to the left */
  top: 0; /* Start from the top */
  width: 70%; /* Set your desired width */
  height: 100%; /* Full height */
  background: white; /* Change as needed */
  box-shadow: 4px 6px 5px 0px rgba(17, 20, 22, 0.12);
  -webkit-box-shadow: 4px 6px 5px 0px rgba(15, 18, 20, 0.12);
  -moz-box-shadow: 4px 6px 5px 0px rgba(12, 14, 17, 0.12);
  transform: translateX(-100%); /* Hide by default */
  transition: transform 0.3s ease; /* Smooth transition */
  z-index:6;
  padding:20px;
}

.MobileSidebar.visible {
  transform: translateX(0); /* Show the sidebar */
}

.MobileSidebar.hidden {
  transform: translateX(-100%); /* Hide the sidebar */
}

.SidebarHeader {
  display: flex;
  justify-content: space-between; /* Space between logo and close button */
  align-items: center; /* Center align vertically */
  padding: 1rem; /* Add some padding */
}

.CloseButton {
  background: transparent; /* No background */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer on hover */
}

.CloseButton img {
  width: 60px; /* Size of the close icon */
  height: auto; /* Size of the close icon */
}




  // Tablet Adjustments
  @media screen and (max-width: 1024px) and (min-width:768px){
    
.logout{

  position:absolute;
  bottom:0;
  margin-bottom:30px;
  width:83%;

}

  }


  //Mobile Adjustments
  @media screen and (max-width:767px) and (min-width:0px){

.LoginPanel{
    width:90%;
}    

.CheckArea{
    display:block;

    h4{
        margin-top:30px;
    }

}


.ButtonsArea{
    display:block;
}

.SideButton{
    margin-top:30px;
    width:100%;
}

.TheButton{
    width:100%;
}



.onboardinghead{
  margin-top:40px;
  position:relative;

  h2{
    @include TextController(3rem,900 ,0 ,var(--BGColor) ,none );
    position:relative;

  }

  h4{
    font-size:0.56rem;
  }
}


.tag{
  background-color: var(--SoftColor);
  margin-right:20px;
  padding:10px 60px 10px 20px;
  border-radius:40px;
  @include TextController(1rem,900 ,0 ,var(--TextColor) ,none );
  position:relative;
  display:block;
  margin-top:10px;

  img{
    width:30px;
    height:auto;
    position:absolute;
    top:0;
    right:0;
    margin-top:5px;
  }

  img:hover{
    scale:1.13;
    transition:0.6s ease-in-out;
  }

}

.FeedBottom{
  display:block;
  align-items: center;
  justify-content: space-between;
  margin-top:20px;
}

.FeedTags{
  margin-top: 30px;
}


}